/* start navabar section styles */
.active {
    border-bottom: 2px solid red;
}
.nav {
    background-color:#fff ;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #efefef;
    position: sticky;
    top: 0;
    z-index: 999;/*چون قراره هنگام اسکرول همه جا ببینیم زد ایندکس بالا میدیم که روی همه چی باشه*/
}
.nav a {
    float: right;
    color: rgb(46, 46, 46);
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
}
.nav a:hover {
    border-bottom:1px solid red ;
}
.icon {
    display: none;
}
@media only screen and (max-width : 600px) {
    .nav a:not(:first-child) {
        display: none;

    }
    .nav a.icon {
        display: block;
        float: left;
    }
    .nav.responsive{
        position: relative;
    }
    .nav.responsive a.icon { /* آیکون رو این استایل ها رو بهش میدیم تا بیاد اون بالا قرار بگیره*/
        position: absolute;
        top: 0;
        left : 0;

    }
    .nav.responsive a{
        float: none;
        display: block;
        text-align: right;
    }
}
/* end of navbar section styles */